.collection .collection-item.online {
  color: #388e3c; }
.collection .collection-item.offline {
  color: #fbc02d; }
.collection .collection-item.non-existence {
  color: #d32f2f; }
.collection .collection-item i {
  margin-right: 20px;
  vertical-align: middle; }

.spinner-layer {
  border-color: #9c27b0; }

nav {
  margin-bottom: 7px; }

#searchIcon {
  margin-top: 6px; }